@import "tailwindcss";

@theme {
    --color-navy: #001F3F;
    --color-yellow: #FFD700;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}

/* --- ADD THIS SECTION BELOW --- */
.swal2-container {
    z-index: 99999 !important;
}
.swal2-popup {
    font-size: 0.875rem !important;
}